/* Google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */
/* font-family: "Poppins", sans-serif; */

/* Default css styles start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Default css styles end */

/* Header section style start */

#header {
    background-color: #10058C;

}

.innerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}


.logo a {
    font-size: 30px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-decoration: none;
}

.menubar {
    font-size: 20px;
    color: #fff;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding: 0px 10px;
}

nav ul li a {
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    position: relative;
}


nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #1acc8d;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: .3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #1acc8d;
    position: absolute;
    bottom: -6px;
    left: 0;
}

/* Header section style end */


/* Banner section style start */

#banner {
    background-color: #10058C;
    min-height: calc(100% - 70px);
}

.bannerInner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.bannerLeftContents {
    width: 100%;
    margin-bottom: 30px;
}

.bannerRightContet {
    margin: 40px 0px;
}

.bannerLeftContents h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #BAB9D3;
}

.bannerLeftContents span {
    color: #fff;
}

.bannerLeftContents p {
    margin-top: 30px;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #BAB9D3;
}

.bannerBtns {
    display: flex;
    align-items: center;
}

.bannerBtns a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    background-color: #1acc8d;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 10px;
}

.bannerBtns p {
    margin-left: 15px;
    margin-bottom: 13px;
    color: #fff;
    font-size: 18px;
}

.bannerBtns p i {
    color: #1acc8d;
    font-size: 25px;
    /* border: 1px solid #1acc8d; */
    padding: 5px;
    border-radius: 50%;
}

.bannerBtns p:hover {
    color: #1acc8d;
}

.heroImg img {
    width: 100%;
    height: auto;
}

/* Banner section style end */

/* About section style start */
.aboutLeftContents {
    margin-top: 30px;
}

.aboutTitle {
    font-size: 15px;
    background-color: #F3FCF9;
    padding: 10px 15px;
    display: inline-block;
    margin: 15px 0px;
    color: #1acc8d;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
}


.aboutSubTitle {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    margin: 10px 0px;
    color: #10058C;
}

.aboutDesc {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: rgb(68, 68, 68);
    margin: 10px 0px;
}

.redBtn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    background-color: #1acc8d;
    padding: 15px 30px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    border-radius: 5px;
    margin: 10px 0px;
    transition: .3s;
}

.redBtn i {
    margin-left: 10px;
}

.redBtn:hover {
    background-color: #1acc8edd;
}


/*  */

.aboutRightContents {
    margin-top: 30px;
}

.rightBoxContents {
    margin: 15px 0px;
    padding: 50px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
}

.rightBoxContents i {
    font-size: 30px;
    color: #1acc8d;
    background-color: #F3FCF9;
    padding: 20px;
    border-radius: 50%;
    transition: .3s;
    margin-bottom: 10px;
}

.rightBoxContents:hover i {
    background-color: #1acc8d;
    color: #fff;
}

.boxTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #10058C;
}

.boxDesc {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

/* About section style end */

/* feature section style start */
#feature {
    /* margin: 50px 0px; */
    padding: 20px 0px;
}

.featureItems {
    display: flex;
    border: 1px solid rgba(68, 68, 68, .3);
    padding: 15px 25px;
    align-items: center;
    margin: 10px 0px;
    transition: .3s;
}

.featureItems:hover {
    border: 1px solid #1acc8d;
}



.featureItems p i {
    margin-right: 10px;
    color: #ffbb2c;
    font-size: 30px;
}

.featureItems .featureItemTitle {
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #10058C;
}


.featureItems:hover .featureItemTitle {
    color: #1acc8d;
}

/* feature section style end */

/* Counter section style start */
#counter {
    background-color: #F1F2FB;
    padding: 10px 15px;
    margin-top: 40px;
}

.innerCounter {
    margin: 40px 0px;
}

.counterDiv {
    background-color: #fff;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}


.counterDiv i {
    font-size: 25px;
    color: #1acc8d;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
}

.counterDiv h2 {
    margin: 15px 0px;
    font-size: 36px;
    font-weight: 700;
    color: #444;
}

.counterDiv p {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    /* margin: 10spx 0px; */
}

/* Counter section style end */

/* Details section style start */

#details {
    margin-top: 50px;
}

.innerDetails {
    margin-top: 50px;
}

.sectionTitle {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    font-family: Raleway, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #444;
}

.sectionTitle::after {
    content: "";
    width: 150px;
    height: 1.2px;
    background-color: #1acc8d;
    display: block;
    position: absolute;
    left: 75px;
    bottom: 7px;
    font-size: 28px;
}

.sectionSubTitles {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #10058C;
}

.detaileLeftContents {
    margin-top: 40px;
}

.leftImg img {
    max-width: 100%;
}

.detailsRightContents {
    margin-top: 30px;
}

.detailRightTitle {
    font-size: 26px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin: 15px 0px;
    color: #040677;
}

.detailsRightPera {
    margin: 20px 0px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #444;
}

.detailsList p {
    display: flex;
    margin-bottom: 15px;
}

.detailsList p i {
    color: #1acc8d;
    font-size: 16px;
    /* font-weight: 400; */
}

.detailsList p i {
    margin-right: 15px;
}

.detailsList p>.checkTitle {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #444;
}


.detailsRightContents .firstPera {
    font-style: italic;
}

.detailsList .secondPera {
    color: #444;
}

.secondInnerDetails {
    display: flex;
    flex-direction: column-reverse;
}

/* Details section style end */

/* Gallery section start */


.innerGallery {
    margin: 40px 0px;

}

.galleryBox {
    overflow: hidden;
    /* border: 2px solid red; */
    height: 210px;
    margin-top: 15px;
}

.galleryBox img {
    max-width: 100%;
    transition: .3s;
    height: auto;

}

.galleryBox:hover img {
    transform: scale(1.1);
}

/* Gallery section end */

/* Feedback section start */
#feedback {
    background-image: linear-gradient(rgba(8, 0, 95, .7), rgba(8, 0, 95, .7)), url('../images/testimonials-bg.jpg');
    height: 450px;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
}


.feedbackContent {
    text-align: center;
    /* border: 1px solid red; */
    padding: 100px 0px;

}

.feedbackContent h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

.feedbackContent p {
    font-size: 14px;
    color: rgba(255, 255, 255, .4);
    margin: 10px 0px;
    font-family: "Raleway", sans-serif;
}

.feedbackContent img {
    width: 120px;
    border-radius: 50%;
    border: 5px solid #040677;
    height: auto;
}

.feedbackContent .socialIcons i {
    font-size: 13px;
    color: #ffbb2c;
    margin: 10px 0px;
}

.feedbackContent .fedbackDesc {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #fff;
}

.feedbackContent .fedbackDesc::before {
    content: "\f10d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 16px;
    margin-right: 15px;
    color: #9C9AB4;
}

.feedbackContent .fedbackDesc::after {
    content: "\f10e";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 16px;
    margin-left: 15px;
    color: #9C9AB4;
}

/* Feedback section end */

/* Team section style start */
#team {
    padding: 50px 0px;
}

.teamBox {
    margin: 60px 0px;
    position: relative;
}

.teamBox img {
    max-width: 100%;
}

.boxbtnTitle {
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #10058C;
    margin: 10px 0px;
}

.teamBox .boxLine::after {
    content: "";
    width: 60px;
    height: 1px;
    display: block;
    background-color: #B4B4B4;

}

.teamBox .temBtmBox {
    /* width: 600px; */
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    position: absolute;
    bottom: -50px;
    left: 20px;
    right: 20px;

}

.socialTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialTitle span {
    font-size: 13px;
    font-style: italic;
    color: #444;
    margin: 10px 0px;
}

.socialTitle .socialIcon {

    color: #444;
}

.socialTitle .socialIcon i {
    margin-left: 7px;
    font-size: 16px;
    transition: .3s;
}

.socialTitle .socialIcon i:hover {
    color: #1acc8d;
}

/* Team section style end */

/* Pricing section start */

.pricingBox {
    padding: 15px 25px;
    background-color: #F6FDFB;
    margin-top: 20px;
    position: relative;
}

.popularText {
    background-color: #1acc8d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.pricingTitle {
    font-size: 20px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
    color: #10058C;
}

.pricingDesc {
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    color: #444;
}

.priceValie {
    margin: 10px 0px;
}

.priceValie sup,
sub {
    font-size: 28px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #1acc8d;
}

.priceValie span {
    font-size: 18px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    color: #444;
}

.pricingBtn {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    text-align: center;
    border: 1px solid #444;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #444;
    transition: .3s;
    outline: none;
    cursor: pointer;
}

.pricingBtn:hover {
    background-color: #1acc8d;
    border-color: transparent;
    color: #fff;
}

.pricingBox .creditInfo {
    text-align: center;
    margin: 15px 0px;
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.services {
    text-align: center;
}

.creditInfo {
    margin: 15px 0px;
}

.services .cross {
    text-decoration: line-through;
    color: #444;
}

.services li {
    list-style: none;
    margin: 17px 0px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #444;
}

.services li i {
    color: #1acc8d;
    margin-right: 12px;
}

.activeBtn {
    background-color: #1acc8d;
    outline: none;
    border: none;
    color: #fff;
}

/* Pricing section end */

/* Frequently Asked Question start */
#frequently {
    padding: 20px 0px;
    background-color: #F4F5FE;
    margin-top: 50px;
}

.innerFrequently {
    display: flex;
    flex-direction: column-reverse;
    column-gap: 30px;
}

.infosContainer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 15px;
    margin: 20px 0px;
    align-items: center;
}

.frequentlyTitle {
    font-size: 34px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px;
}

.frequentlyTitle span {
    font-weight: 700;
    color: #10058C;
}

.frequentlyDesc {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #444;
    margin-bottom: 15px;
}

.infosContainer span {
    font-size: 17px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #10058C;
    transition: .3s;
}

.infosContainer span:hover {
    color: #1acc8d;
}

.infosContainer .questionIcon {
    color: #1acc8d;
    margin-right: 10px;
    border: 1px solid #1acc8d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.frequentlyRightContent img {
    margin: 20px 0px;
    max-width: 100%;
}

/* Frequently Asked Question end */

/* Contact section start */

#contact {
    padding: 50px 0px;
}

.innerContact {
    margin-top: 40px;
}

.contactinnerContainer {
    display: flex;
    align-items: center;
    margin: 20px 0px;

}

.contactinnerContainer span {
    margin-right: 15px;
    background-color: #F6FDFB;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #1acc8d;
    transition: .3s;
}

.contactinnerContainer:hover span {
    background-color: #1acc8d;
    color: #fff;
}

.contactinnerContainer .contactTitle h4 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #10058C;
    margin: 10px 0px;
}

.contactinnerContainer .contactTitle p {
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #444;
}



.nameEmailInput div input {
    width: 100%;
    margin: 10px 0px;
    padding: 8px 15px;
    outline: none;
    border: 1px solid #444;
}

.subject input {
    width: 100%;
    margin: 10px 0px;
    padding: 8px 15px;
    outline: none;
}

.messageDiv textarea {
    width: 100%;
    margin: 10px 0px;
    padding: 8px 15px;
    height: 150px;
    outline: none;
    border: 1px solid #444;
}

.sendBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendMesage {
    padding: 10px 15px;
    background-color: #1acc8d;
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    display: block;
}

/* Contact section end */

/* Footer section start */
#footer {
    background-color: #10058C;
    padding: 50px 0px;
}

.bootslander .bootslanderTitle {
    font-size: 28px;
    color: #fff;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.bootslanderAddress {
    margin-bottom: 20px;
}

.bootslanderAddress p {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 6px;
}

.bootsSocials i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ffffff91;
    line-height: 45px;
    text-align: center;
    margin-right: 10px;
    color: #ffffff99;
    transition: .3s
}

.bootsSocials i:hover {
    color: #1acc8d;
}

.usefulLinks {
    margin: 25px 0px;
}

.usefulLinks .usefulTitle {
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #ffffffce;
    margin-bottom: 15px;
}

.usefulLinks a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffffc1;
    font-family: "Roboto", sans-serif;
}


.newsLetterDesc {
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}

.subscribeDiv {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.subscribeDiv input {
    padding: 11px 15px;
    background-color: transparent;
    /* outline: none; */
    border: 1px solid #444;
    border-radius: 3px 0px 0px 3px;
    width: 100%;
}

.subscribeDiv input:focus {
    border: 1px solid #1acc8d;
    outline: none;
}

.subscribeDiv button {
    padding: 9px 15px;
    background-color: #1acc8d;
    color: #fff;
    outline: none;
    border: 1px solid #1acc8d;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.copyrightText {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 15px 0px;
    display: none;
}

.authorText {
    text-align: center;
    color: #fff;
    margin: 10px 0px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    display: none;
}

.authorText span {
    color: #1acc8d;
    font-weight: bold;
}

.linedivider {
    width: 100%;
    height: .1px;
    background-color: #444;
    display: none;
}

/* Footer section end */